@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            Main Page
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="UserManager" asp-action="ShowUsers">
                    Users Management
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="TemplateManager" asp-action="ManageTemplates">
                Table of templates
            </a>
        </li>
        <li class="nav-item">
            Table of forms
        </li>
    </ul>
</div>
</body>
</html>